*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Rust
debug/
target/

Cargo.lock

**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb